.class_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
    flex-flow: column;
    width: 100%;
}

.class_list > * {
    max-width: 80vw;
    margin: 1rem;
}

@media print,screen and (max-width: 480px) {
    .class_list > * {
        max-width: 100vw;
    }
  }
